
h1,h2,h3,h4,p {
    color: #FFF;
}

.movie-list {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 24px;

    column-gap: 10px;
    row-gap: 10px;
}


.movie-list .movie-card {
    padding: 12px 12px;
    color: var(--color-white-100);    

    & img {
        transition: transform .3s ease;

        border-radius: 8px;
        cursor: pointer;
    }
}

.movie-card img:hover{
    transform: scale(1.05);
}
