.aside-container {
    top: 80px;
    width: 220px;
    height: 200vh;
    padding: 20px;
    padding-left: 0;
    align-items: stretch;
}

.aside-content{
    top: 64px;
    position: sticky;

    /* border-right: 1px solid var(--color-white-50); */
}

.aside-content .title {
    color: var(--color-white-100);
    font-size: 24px;
    margin-bottom: 14px;
}

.nav-gen {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.nav-gen ul {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.nav-gen a {
    text-decoration: none;
    color: var(--color-white-50);
    font-weight: 400;
    font-size: 14px;
    transition: all .3s ease;
    line-height: 120%;
    /* 21.6px */
    letter-spacing: 0.36px
}

.nav-gen a.active{
    color: var(--color-white-100);
    font-weight: 600;
}

.nav-gen a:hover {
    color: var(--color-white-70);
    font-weight: 600;
}

.generos-container {
    width: 100%;
    height: fit-content;

    padding: 12px 24px;
    display: flex;
    flex-wrap: wrap;
    
    gap: 8px;
}

.generos-card {
    width: 260px;
    padding: 8px;
}

.generos-card img {
    width: 100%;
    border-radius: 8px;
    transition: transform .3s ease;
}

.generos-card img:hover{
    transform: scale(1.05);
}